*{
    text-decoration: none;
    font-family: calibri;
}

.navbar{
    background-color: crimson; font-family: calibri; padding-right: 15px; padding-left: 15px;
}
.navdiv{
    display:flex; align-items: center; justify-content: space-between;
}
.logo a{
    font-size: 35px; font-weight: 600; color:white; 
}
li{
    list-style: none; display: inline-block;
}
li a{
    color:white; font-size: 18px; font-weight:bold; margin-right: 15px;
}
button{
    background-color: white; margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
}
button a{
    color:black; font-weight: bold;
}
.heading{
    display:flex; align-items: center; justify-content: space-between;
}